    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
    * {
        margin: 0px;
        padding: 0px;
        text-decoration: none;
    }
    
    .thumbnail {
        color: black;
        font-size: larger;
    }
    
    .navbar {
        color: #f0f9ff;
        background-color: #282d32;
    }
    
    .navbar-brand {
        display: flex;
        font-weight: 800;
    }
    
    .carousel {
        margin-bottom: 4rem;
    }
    
    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }
    
    .carousel-item {
        height: 32rem;
        >img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 32rem;
        }
    }
    
    .divider {
        margin: 5rem 0;
    }
    
    .content-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -.03rem;
    }
    
    @media (min-width: 40em) {
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }
        .content-heading {
            font-size: 50px;
        }
    }
    
    @media (min-width: 62em) {
        .content-heading {
            margin-top: 7rem;
        }
    }
    /*================= Footer =================*/
    
    .footer-dark {
        padding: 50px 0;
        color: #f0f9ff;
        background-color: #282d32;
        h3 {
            margin-top: 0;
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 16px;
        }
        ul {
            padding: 0;
            list-style: none;
            line-height: 1.6;
            font-size: 14px;
            margin-bottom: 0;
            a {
                color: inherit;
                text-decoration: none;
                opacity: 0.6;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .item {
            &.text {
                margin-bottom: 36px;
                p {
                    opacity: 0.6;
                    margin-bottom: 0;
                }
            }
            &.social {
                text-align: center;
                >a {
                    font-size: 20px;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
                    margin: 0 8px;
                    color: #fff;
                    opacity: 0.75;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
        .copyright {
            text-align: center;
            padding-top: 24px;
            opacity: 0.3;
            font-size: 13px;
            margin-bottom: 0;
        }
    }
    
    @media (max-width: 767px) {
        .footer-dark .item:not(.social) {
            text-align: center;
            padding-bottom: 20px;
        }
    }
    
    @media (max-width: 767px) {
        .footer-dark .item.text {
            margin-bottom: 0;
        }
    }
    
    @media (max-width: 991px) {
        .footer-dark .item.social {
            text-align: center;
            margin-top: 20px;
        }
    }
    /**footer**/
    /*mixin*/
    
    @mixin sizes($width,
    $height) {
        height: $height;
        width: $width;
    }
    
    .img-thumbnail {
        @include sizes(500px,
        500px);
    }
    /* extend*/
    
    .heading-index {
        font-size: xx-large;
        color: rgb(14, 19, 12);
        padding: 2px;
    }
    
    .heading-index--center {
        @extend .heading-index;
        text-align: center;
    }
    /*================= Contacto ================= */
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    input {
        outline: none;
        border: none;
        &[type="number"] {
            -moz-appearance: textfield;
            appearance: none;
            -webkit-appearance: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }
    
    textarea {
        outline: none;
        border: none;
        &:focus {
            border-color: transparent !important;
        }
    }
    
    input:focus {
        border-color: transparent !important;
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: transparent;
        }
    }
    
    textarea:focus {
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: transparent;
        }
    }
    
    input {
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: #999999;
        }
    }
    
    textarea {
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: #999999;
        }
    }
    
    button {
        outline: none !important;
        border: none;
        background: transparent;
        &:hover {
            cursor: pointer;
        }
    }
    
    iframe {
        border: none !important;
    }
    
    .container {
        max-width: 1200px;
    }
    /*[ Contact ]*/
    
    .container-contact100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #e6e6e6;
    }
    
    .wrap-contact100 {
        width: 550px;
        background: transparent;
        padding: 30px 0 80px 0;
    }
    /*[ Form ]*/
    
    .contact100-form {
        width: 100%;
    }
    
    .contact100-form-title {
        display: block;
        font-size: 30px;
        color: #43383e;
        line-height: 1.2;
        text-align: left;
        padding-bottom: 35px;
    }
    /*[ Input ]*/
    
    .wrap-input100 {
        width: 100%;
        position: relative;
        background-color: #fff;
        margin-bottom: 17px;
    }
    
    .label-input100 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 62px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        font-size: 18px;
        color: #999999;
    }
    
    .input100 {
        display: block;
        width: 100%;
        background: transparent;
        font-size: 15px;
        color: #43383e;
        line-height: 1.2;
        padding: 0 5px;
    }
    
    input.input100 {
        height: 62px;
        padding: 0 20px 0 58px;
    }
    
    textarea.input100 {
        min-height: 199px;
        padding: 19px 20px 0 23px;
    }
    /* [ Restyle Checkbox ]*/
    
    .contact100-form-checkbox {
        padding-top: 12px;
        padding-bottom: 20px;
    }
    
    .input-checkbox100 {
        display: none;
    }
    
    .label-checkbox100 {
        display: block;
        position: relative;
        padding-left: 32px;
        cursor: pointer;
        font-size: 15px;
        color: #43383e;
        line-height: 1.2;
        &::before {
            content: "\f00c";
            font-family: FontAwesome;
            font-size: 15px;
            color: transparent;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 22px;
            height: 22px;
            border-radius: 2px;
            background: #fff;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    
    .input-checkbox100:checked+.label-checkbox100::before {
        color: #555555;
    }
    /* [ Button ]*/
    
    .container-contact100-form-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding-top: 13px;
    }
    
    .wrap-contact100-form-btn {
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 31px;
        overflow: hidden;
    }
    
    .contact100-form-bgbtn {
        position: absolute;
        z-index: -1;
        width: 300%;
        height: 100%;
        background: #4623df;
        left: -100%;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .contact100-form-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 160px;
        height: 62px;
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
    }
    
    .wrap-contact100-form-btn:hover .contact100-form-bgbtn {
        left: 0;
    }
    
    .validate-input {
        position: relative;
    }
    
    .alert-validate {
        &::before {
            content: attr(data-validate);
            position: absolute;
            max-width: 70%;
            background-color: #fff;
            border: 1px solid #c80000;
            border-radius: 2px;
            padding: 4px 25px 4px 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 2px;
            pointer-events: none;
            color: #c80000;
            font-size: 13px;
            line-height: 1.4;
            text-align: left;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: opacity 0.4s;
            -o-transition: opacity 0.4s;
            -moz-transition: opacity 0.4s;
            transition: opacity 0.4s;
        }
        &::after {
            content: "\f06a";
            font-family: FontAwesome;
            display: block;
            position: absolute;
            color: #c80000;
            font-size: 16px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 8px;
        }
        &:hover:before {
            visibility: visible;
            opacity: 1;
        }
    }
    
    @media (max-width: 992px) {
        .alert-validate::before {
            visibility: visible;
            opacity: 1;
        }
    }
    /* ================= Galeria ================= */
    
    .photo-gallery {
        color: #313437;
        background-color: #fff;
        p {
            color: #7d8285;
        }
        h2 {
            font-weight: bold;
            margin-bottom: 40px;
            padding-top: 40px;
            color: inherit;
        }
        .intro {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto 40px;
            p {
                margin-bottom: 0;
            }
        }
        .photos {
            padding-bottom: 20px;
        }
        .item {
            padding-bottom: 30px;
        }
    }
    
    @media (max-width: 767px) {
        .photo-gallery h2 {
            margin-bottom: 25px;
            padding-top: 25px;
            font-size: 24px;
        }
    }